@import '../../variables';

.header {
  height: 36px;
  padding: 16px 16px 0;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 32px;
  line-height: 36px;
}

.gradient {
  background: linear-gradient(97.41deg, rgba(203, 30, 165, 0.76) 13.92%, #9BFFF9 112.03%);
  padding-bottom: 105px;
  .link {
    color: white;
  }
  .heading {
    color: white;
  }
}

.heading {
  font-size: 24px;
  font-weight: 600;
}

.link {
  color: $purple;
  text-decoration: none;
  &:hover {
    opacity: .7;
  }
}